body {
    font: 16px/28px arial, sans-serif;
    background-color: gray;
    color: black;
    background-image: url(img/bush.png);
}

.container {
    width: 800px;
    margin: auto;
    background-color: aqua;
}

.header {
    padding: 5px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: -15px;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 10px;

}

.header a:hover {
    background-color: lightblue;
    color: white;
}

.foto {
    height: 350px;
    background-image: url(img/as.png);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid skyblue;
}

.conten h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
}

.conten .penulis {
    font-size: 12px;
    margin-left: 40px;
    margin-top: -20px;
}

.conten .penulis a {
    text-decoration: none;
    color: salmon;
} 

.artikel {
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.artikel p {
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    padding: 3px;
}

.footer .copy {
    font-size: 13px;
    color: blanchedalmond;
    text-align: center;

}